ul.navbar li {
  float: left;
  list-style-type: none;
}
ul.navbar li a:link, ul.navbar li a:visited {
  display: block;
  //width: 140px;
  font-weight: bold;
  color: #606060;
  background-color:#dee5f0;
  text-align: center;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  //text-transform: uppercase;
  border-right: 1px solid #606060;
}
ul.navbar li a:hover, ul.navbar li a:active {
  background-color: #606060;
  color: #FFFFFF;
}
#nav {
  background-color: #dee5f0;
  width: 100%;
  height: 1.5em;
}

/* Title header and search box styles */
#header {
  background-image: url('/static/images/xwords-logo.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
#logo_title {
  float: left;
  width: 75%;
  padding-left: 125px;
}
.xword_form {
  display: inline;
}
#cue_word_set {
  float: left;
  color: #000;
  width: 25%;
}
#cue_word_set fieldset {
  background-color: #90b9a7;
  width: 75%;
}
#cue_word_set fieldset>label {
  color: #051b12;
  font-size: 0.75em;
  padding-top: 7px;
  text-align: center;
  font-weight: bolder;
}
#cue_word_set input {
  background-color: #6b8ebb;
  color: #000;
  font-size: 0.75em;
}
#new_solution {
  float: left;
  background-color: #ffffff;
  color: #000;
  width: 65%;
}
#cue_word_flash {
  position: relative;
  border: 1px #0c4da1 solid;
  vertical-align: middle;
  padding-top:0.1em;
  font-size: 0.75em;
  color: #086b29;
  visibility: hidden;
}
.helpbutton {
  vertical-align: middle;
}
/* End of solutions form specific styles */
/* Over labels */
/* Modal popup styling lifted from:
   https://www.w3schools.com/howto/howto_css_modals.asp
 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.solution-types-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 45%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 0.75em;
  text-align: center;
}
/*
 * Use these styles if processing a JSON return for the AJAX request
 * Mostly taken from https://www.w3schools.com/howto/howto_css_modals.asp
 */
table.solution-types-table {
  text-align: left;
  width: 90%;
  border-collapse: collapse;
  border-width: 0px 0px 1px 1px;
  border-color: #000000;
  border-style: solid;
  margin-left: 2em;
}
table.solution-types-table tr>th {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;
  border-width: 1px 1px 0px 0px;
  border-color: #000000;
  border-style: solid;
}
table.solution-types-table tr>td {
  font-size: 0.85em;
  padding: 0.2em 1.0em 0.1em 0.5em;
  color: #000000;
  border-width: 1px 1px 0px 0px;
  border-color: #000000;
  border-style: solid;
}
table.solution-types-table tr.ma_row_light {
    text-decoration: none;
    background-color: #FFF;
    color: #0020d7;
}
table.solution-types-table tr.ma_row_dark td {
  text-decoration: none;
  background-color: #CCC;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End of modal styling */
div#search_box {
  position: relative;
  float: right;
  margin-right: 3px;
}
input#search_box-field
{
  border: 1px solid #303030;
  width: 10em;
  background-color: #7399cc;
  border-radius: 5px;
}
label.overlabel {
  color:#999;
  left: 5px;
  z-index: 1;
  color:#111;
}

label.overlabel-apply {
  position: absolute;
  left: 3px;
  z-index: 1;
  color:#111;
}
/* end of overlabel*/
/* End of title header styles */

/* table styles */
table.indextable {
  text-align: left;
  width: 75%;
  border-left: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  margin-left: 2em;
}
table.indextable tr>th {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;
  border-width: 1px 1px 0px 0px;
  border-color: #000000;
  border-style: solid;
}
table.indextable th a:visited, th a:active {
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;
}
table.indextable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.indextable th .asc {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;
  background-image: url('up_arrow.png');
  background-repeat: no-repeat;
  background-position: right center;
}

table.indextable th .desc {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;
  background-image: url('down_arrow.png');
}

table.indextable th a  {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;

}
table.indextable th a:hover, th a:visited, th a:active  {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0.25em 1.0em 0.25em 0.5em;
  background-color: #909090;
  color: #fff;

}
table.indextable tr>td {
  font-size: 0.75em;
  padding: 0.2em 1.0em 0.1em 0.5em;
  color: #000000;
  border-width: 1px 1px 0px 0px;
  border-color: #000000;
  border-style: solid;
}

table.indextable tr.ma_row_light {
    text-decoration: none;
    background-color: #FFF;
    color: #0020d7;
}
table.indextable tr.ma_row_dark td {
  text-decoration: none;
  background-color: #CCC;
}
table.indextable tr.ma_row_dark td a {
  background-color: #CCC;
  color: #0020d7;
}
table.indextable a:visited {
      text-decoration: none;
      color: #0020d7;
}
table tr.ma_row_dark  a:focus, table.ma_row_dark a:hover {
      text-decoration: underline;
      background-color: #CCC;
}
table tr.ma_row_light a:focus, table.ma_row_light a:hover {
      text-decoration: underline;
}
table.indextable a:focus, table.indextable a:hover {
      text-decoration: underline;

      color: #0020d7;
}
table.indextable a {
      text-decoration: none;
      background-color: #fff;
      color: #0020d7;
}

.fsetrow .monthrow{
  /* border: #ff0000 solid 0.1em; */
  display: inline;
}
fieldset {
  padding: 0.75em;
  font:80%/1 sans-serif;
  border: #000000 1px solid;
  border-radius: 5px;
  width: 80%;
}
.conf_fieldset {
  padding: 1em;
  font:80%/1 sans-serif;
  border: #000000 1px solid;
  border-radius: 5px;
}
.settings_box {
  width: 30%;
  display: inline-block;
  /* debug stuff */
  padding: 0.25em;
  font: 80%/1 sans-serif;
  /* border: #000000 1px solid; */
  vertical-align: top;
}
.overview_settings {
  width: 50%;
}
fieldset input, fieldset select, fieldset select option {
  margin: 0.1em;
  width: 50%;
  border: #000000 1px solid;
  border-radius: 5px;
  padding-left: 0.1em;
  background-color: #7399cc;
}
textarea.xwordhints {
  margin: 0.1em;
  width: 50%;
  border: #000000 1px solid;
  border-radius: 5px;
  padding-left: 0.1em;
  background-color: #7399cc;
  resize: none;
}
input[type=submit] {
  margin: 0.1em;
  border: #000000 1px solid;
  border-radius: 5px;
  padding-left: 0.1em;
}
label {
  float: left;
  width: 25%;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
}

/* Reset the float */
.cleaner {
  clear: both;
}
#messages {
  border: #e87152 solid 1px;
  border-radius: 5px;
  width: 75%;
}
ul.flashes, ul.flashes li{
  list-style-type: none;
  color: #ee4040;
  font-family: Helvetica, Sans-serif;
  padding: 0px;
  margin: 0.5em 0.1em 0.1em 0.5em;
}
body {
  font-family: Helvetica, Sans-serif;
}

/*
 * modal dialog styling
 */
.button{
  border:1px solid #333;
  background:#6479fd;
}
.button:hover{
  background:#a4a9fd;
}
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}
#btnOK, #btnCancel{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}

#btnOK:hover, #btnCancel:hover{
  border:1px solid #000;
  background:#ffacac;
}
/*
 * pagination
 */
.page-subnav, .pagination-nav {
    width: 100%;
    height: 40px;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.pagination-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.pagination {
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7em;
}
.pagination ul li {
    border-color: #105cb6;
    border-width: 0 0 1px;
    border-radius: 0;
    float: left;
    list-style-type: none;
}
.pagination ul li a:link, .pagination ul li a:visited {
    display: block;
    //width: 140px;
    font-weight: bold;
    color: #606060;
    background-color: #dee5f0;
    text-align: center;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    /* text-transform: uppercase; */
    border-color: #9aafe5;
    border-width: 1px;
    border-radius: 0;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
.pagination ul li span.nolink {
    padding: 2px 10px 2px 10px;
    display: block;
    /* float: left; */
    margin-right: 1px;
    font-size: 8pt;
    font-weight: bold;
    border: 1px solid #9aafe5;
    color: #D5D5D5;
}
.pagination a, .pagination ul li span {
    padding: 2px 10px 2px 10px;
    display: block;
    /* float: left; */
    margin-right: 1px;
    font-weight: bold;
    color: #105cb6;
    border: 1px solid #9aafe5;
}
.pagination ul li span.ellipsis {
    /* font-size: 10pt; */
    font-weight: normal;
    padding: 2px;
    margin: 1px;
    border-color: #fff;
}
.pagination em {
    padding: 2px 10px 2px 10px;
    display: block;
    float: left;
    margin-right: 1px;
    font-style: italic;
}
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
}
.pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
}
.pagination a:visited {
    color: #9aafe5;
    background: #ffffff;
    border-color: #9aafe5;
}
.pagination a:hover, .pagination a:focus {
    color: #000;
    background: #ffffff;
    border-color: #000;
}
.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}
.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em;
}
.pagination a:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .pagination {
    height: 10%;
}
*:first-child + html .pagination {
    overflow: hidden;
}
.pagination .prev_page, .pagination .next_page {
    border-width: 1px;
    border-color: #6aa6ed;
    color: #105cb6;
}

.nobr {
  white-space:nowrap;
}