astroid>=2.11.3
Flask>=1.0.4
flask_login>=0.4
isort==4.3.4
jinja2>=2.10.1
lazy-object-proxy>=1.4.0
markupsafe>=2.1
mccabe==0.6.1
peewee==3.7.1
pylint>=2.7.0
python-ldap>=3.2
requests>=2.20.0
urllib3>=1.25.2
uwsgi>=2.0
werkzeug>=0.15.3
wrapt<2,>=1.11
