option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: ChangeMe
  aws:elasticbeanstalk:container:python:
    WSGIPath: crossword_hints.py

files:
  /etc/nginx/conf.d/xword_hints_deny.conf:
    mode: 0644
    content: |
      location ~ /(crossword-solutions|crossword-setters|setter-types|solution-types)/[0-9]+/(edit|delete) {
         deny all;
         return 403;
      }
      location ~ /(crossword-solutions|crossword-setters|setter-types|solution-types)/new {
         deny all;
         return 403;
      }

