{%- extends "views/layouts/crossword-hints.html" %}
{%- block page_heading -%}
Crossword solution types
{%- endblock -%}

{%- block page_content -%}
<p>
{{ f.render_pagination(pagination, "solution-types", "crossword solution type") }}
<br />
{%- if stypes -%}
<table cellpadding="0" cellspacing="0" class="indextable">
  <tr class="indextable"><th style="width: 20%">Name</th><th>Description</th><th style="width: 15%">Actions</th></tr>
{%- for st in stypes -%}
<tr class="{{ loop.cycle('ma_row_dark', 'ma_row_light') }}">
    <td><a href="/solution-types/{{ st['rowid']}}">{{ st['name'] }}</a></td><td>{{ st['description'] }}</td><td><a href="/solution-types/{{ st['rowid'] }}/edit" title="Edit {{ st['name'] }}"><img src="/static/images/edit-icon.png"</a>&nbsp;
        <a onclick="return(confirm('Delete {{ st['name'] }}?'));" href="/solution-types/{{ st['rowid'] }}/delete" title="Delete {{ st['name'] }}"><img src="/static/images/delete-icon.png" /></a></td>
</tr>
{%- else -%}
No solution types found.
{%- endfor -%}
</table>
{%- endif -%}
<br />
{{ f.render_pagination(pagination, "solution-types", "crossword solution type") }}
</p>
{%- endblock -%}
{{ super() }}
