{%- extends "views/layouts/crossword-hints.html" %}
{%- block page_heading -%}
Crossword Setter types
{%- endblock -%}

{%- block page_content -%}
<p>
<a href="/setter-types/new">Add new crossword setter type</a><br />
{%- if stypes -%}
<table cellpadding="0" cellspacing="0" class="indextable">
  <tr class="indextable"><th>name</th><th>Description</th><th>&nbsp;</th></tr>
{%- for st in stypes -%}
<tr class="{{ loop.cycle('ma_row_dark', 'ma_row_light') }}">
    <td><a href="/setter-types/{{ st['rowid'] }}">{{ st['name'] }}</a></td><td>{{ st['description'] }}</td><td><a href="/setter-types/{{ st['rowid'] }}/edit" title="Edit {{ st['name'] }}"><img src="/static/images/edit-icon.png"</a></td>
</tr>
{%- else -%}
No setter types found.
{%- endfor -%}
</table>
{%- endif -%}
<br />
<a href="/setter-types/new">Add new crossword setter type</a><br />
</p>
{%- endblock -%}
{{ super() }}
