  <div id="cue_word_set">
    <div id="cue_word_flash"></div>
    <form name="cue_word_save" action="/cue-words/new" method="POST">
      <fieldset id="cue_words">
        <legend>Cue words</legend>
        {{ f.label('cue_word', 'Cue Word') }}
        {{ f.input_tag('cue_word', class="xwordhints", value="", id="cue_word") }}

        <label for="cue_meaning">Meaning</label>
        {{ f.input_tag('meaning', class="xwordhints", value="", maxlength="128", size="64", id="cue_meaning") }}
        <div id="cue_word_flash"></div>
        {{ f.button_tag('save_cue_word', 'Save', id="save_cue_word") }} {{ f.button_tag('reset_cue_word', 'Reset', type="reset", id="reset_cue_word") }}
      </fieldset>
    </form>
  </div>